$buttonPaddingVertical: 0.7rem;
$buttonPaddingHorizontal: 1.2rem;
$buttonPadding: $buttonPaddingVertical $buttonPaddingHorizontal;

$buttonColor: mix($darkBlue, #fff, 15%);
$borderRadius: 1px;

.button {
    background-color: $buttonColor;
    display: inline-flex;
    color: #222;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    line-height: 140%;
    align-self: baseline; // Fix height when parent is a flex element.
    cursor: pointer;
    border-radius: $borderRadius;

    &, > .icon {
        border-radius: $borderRadius;
        box-shadow: 0 3px 0 rgba(#fff, 0.1) inset;
    }

    // Spacing between buttons, but not around standalone buttons.
    & + .button {
        margin-left: 2px;
    }

    &:not(.labeled.icon) {
        padding: $buttonPadding;
    }

    &.labeled.icon {
        padding: 0 1rem 0 0;

        > .icon {
            margin-right: 1rem;
        }
    }

    > .icon {
        background-color: mix($buttonColor, #000, 96%);
        display: block;
        height: auto;
        width: auto;
        margin: 0;

        &:before {
            padding: $buttonPadding;
            display: block;
        }
    }

    &.fluid {
        width: 100%;
    }
}

$buttonSizes: tiny;
$buttonPaddings: 0.4;

@for $i from 1 through length($buttonSizes) {
    $size: nth($buttonSizes, $i);
    $paddingVertical: $buttonPaddingVertical * nth($buttonPaddings, $i);
    $paddingHorizontal: $buttonPaddingHorizontal * nth($buttonPaddings, $i) * 1.2;
    $padding: $paddingVertical $paddingHorizontal;

    .#{$size}.button {
        &:not(.labeled.icon) {
            padding: $padding;
        }

        > .icon {
            &:before {
                padding: $padding;
                display: block;
            }
        }
    }
}

$buttonNames: blue green red;
$buttonColors: #388CAF #46B630 #DB2C34;

@for $i from 1 through length($buttonNames) {
    $name: nth($buttonNames, $i);
    $color: nth($buttonColors, $i);

    .button.#{$name} {
        background-color: $color;
        color: rgba(#fff, 0.9);
        text-shadow: 0 1px 0 rgba(#000, 0.2);
        transition: all 0.15s;

        > .icon {
            background-color: mix($color, #000, 96%);
            color: rgba(#fff, 0.8);
            transition: all 0.15s;
        }

        &:hover {
            color: #fff;
            background-color: mix($color, #fff, 90%);

            > .icon {
                background-color: mix($color, #fff, 95%);
                color: #fff;
            }
        }
    }
}