$borderColor: mix($darkBlue, #fff, 20%);

table.table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $borderColor;
    outline: 1px solid #fff;

    th {
        text-align: left;
        font-size: 85%;
        background-color: mix($borderColor, #fff, 15%);
    }

    th, td {
        padding: 0.7rem 1rem;
        border-top: 1px solid $borderColor;

        &:last-child {
            width: 1px;
            white-space: nowrap;
            padding: 2px;
        }

        &.collapsing {
             width: 1px;
            white-space: nowrap;
        }
    }
    
    td:first-child {
        background: linear-gradient(90deg, mix($borderColor, #fff, 20%) 50%, #fff 100%);
    }
}
